/.vs
/obj
/bin
packages
/MpkExtractor/.vs
Siemens.Automation.CommonServices
Siemens.Automation.CommonTrace.IntegrationDotNet
Siemens.Simatic.Hwcn.Diagnostic
/ShowModuleState/.vs
/ShowModuleState/ShowModuleStateV14/MetaM
*.pdb
/ShowModuleState/ShowModuleStateV14/Bin/System.Xml.XPath.dll
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Configuration.Abstractions.dll
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Configuration.Abstractions.xml
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Configuration.Binder.dll
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Configuration.Binder.xml
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Configuration.dll
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Configuration.xml
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.DependencyInjection.Abstractions.xml
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Logging.Abstractions.dll
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Logging.Abstractions.xml
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Logging.Configuration.dll
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Logging.Configuration.xml
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Logging.dll
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Logging.xml
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Options.ConfigurationExtensions.xml
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Options.dll
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Options.xml
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Primitives.dll
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Extensions.Primitives.xml
/ShowModuleState/ShowModuleStateV14/Bin/Microsoft.Win32.Primitives.dll
