<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colorful.Console" version="1.2.15" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" targetFramework="net461" />
  <package id="OpenTelemetry" version="1.1.0" targetFramework="net461" />
  <package id="OpenTelemetry.Api" version="1.1.0" targetFramework="net461" />
  <package id="OpenTelemetry.Exporter.Console" version="1.1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
</packages>